:root {
    --heading-font-family:"League Spartan", sans-serif;
    --main-font-family: "Poppins", sans-serif;
    --branding-color: #114232;
    --secondary-color: #E0FBE2;
}
.hero {
text-align: center; 
padding: 160px 20px;
background-color: var(--secondary-color);
}
body {
    font-family: var(--main-font-family);
}
h1 {
    font-family: var(--heading-font-family);
    font-size: 96px;
    font-weight: 900;
    color: var(--branding-color);
}
h2 {
    color: var(--branding-color);
    font-size: 36px;
    font-weight: bold;
}
.hero-paragraph {
    color: var(--branding-color);
    font-size: 22px;
}
.btn-branding {
background-color: var(--branding-color);
color: white;
padding: 15px 30px;
line-height: 27px;
font-size: 18px;

}
.btn-learn-more {
    background-color: var(--branding-color);
    color: white;
    padding: 15px 30px;
}
.homepage-headings {
    font-family: var(--heading-font-family);
    font-size: 66px;
    color: var(--branding-color);
}
.project-description {
    color: var(--branding-color);
    font-size: 32px;
}
.projects-hd {
    font-family: var(--main-font-family);
    color: var(--branding-color);
    font-size: 16px;
}
.content {
    padding: 160px 20px;
}
.profile-picture {
    border-radius: 50%;
}
.navi-links-items {
   color: var(--branding-color);
 }

@media (max-width: 900px) {
    .hero {
        padding: 80px 20px;
    }
    .project-description {
        padding: 0;
        text-align: center;
        font-size: 18px;
    }
    .homepage-headings {
        text-align: center;
    
    }
    .btn-learn-more {
        
        display: block;
        
    }
    
}